*{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}
nav{
    height: 175px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(230,245,253,1) 51%, rgba(236,242,252,1) 100%); 
}
nav > ul > li{
    color:#6d7b93;
    align-content:center;
    font-size: 20px;
    font-weight: bolder;
}
nav > ul > li > button{
    background: #2b4bc9;
    border-radius: 10px;
    color: #ffffff;
    height: 75px;
    width: 230px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
}

nav > ul{
    display:flex;
    height:100%;

    align-items:center;
    justify-content: space-around;
    list-style-type:none;
}

.logo{
    flex-grow: 0.33;
    color: #3050ce;
    font-size: 40px;
    z-index: 1;
}
.logo-bg{
    background: aliceblue;
    height: 25px;
    width: 25px;
    position: relative;
    left: 4%;
    transform: rotate(45deg);
    top: -50px;
    z-index: -1;
}
#fight{
    display: flex;
    height: 1150px;
    align-items:center;
    justify-content: space-around;
}
.fight-right{
    background-color: #0c94e5;
    width: 50%;
    height: 100%;
}
.fight-right img{
    height: 100%;
}
.fight-left{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    align-items:center;
    justify-content: space-around;
    padding-top: 130px;
}
.container-custom{
    width:70%;
    margin-left: 175px;
}
.fight-left .container-custom{
    height: 100%;
}
.fight-left h2{
    font-size: 72px;
    font-weight: 700;
    color: #1f3e72;
}
.fight-left p{
    color: #6d7b93;
    font-size: 24px;
    font-weight: 600; 
    padding-top: 20px;
}
.fight-left form{
    border-radius: 10px;
    background-color: #ffffff;

    position: relative;
    top: 42%;
    width: 1025px;
    height: 224px;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0.95;
}

.container-form{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-form-field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-form-field i{
    width: 20%;
}
.container-form-field i{
    width: 45%;
}
.container-form-field input{
    width: 80%;
}
.fight-left form > button{
    background-color: #2a4ac8;
    height: 80px;
    width: 210px;
    color: #ffffff;
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    opacity: 1.0;
}


.schedule{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 6%;
}

.schedule i{
    color: #2a4ac8;
background-color: #e5ebff;
font-size: 25px;
height: 40px;
width: 40px;
position: relative;
padding: 7.5px 0px 0px 7.5px;
border-radius: 5px;
}

.schedule p{
    color: #1f3e72;
}



#logos img {
    width: 100%;
    height: 300px;
}
#benefits{
    display: flex;
    height: 300px;
    align-items:center;
}
.benefits-left{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    align-items:center;
    justify-content: space-around;
}

.benefits-left h2{
    font-size: 40px;
    color: #1f3e72;
    font-weight: 800;
}
.benefits-left p{
    color: #6d7b93;
    font-size: 20px;
    font-weight: 600;
    padding-top: 5%;
}
.cards {
    margin-left: 175px;
    margin-right: 175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits-card {
    width: 200px;
    height: 400px;
    border-radius: 10px;
    border: 3px solid #fafaff;
    flex: 0 1 23%;
}

.benefits-card:hover {
    border-style: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.benefits-card h3{
    position: relative;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 10%;
    color: #1f3e72;
    font-size: 27px;
    font-weight: 600;
    height: 100px;
}
.benefits-card p{
    position: relative;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 10%;
    color: #738097;
    font-size: 17px;	
}
.card-icon{
    background-color: #f1f5ff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    margin-left: 13%;
    margin-top: 10%;
    text-align:center;
}
.card-icon i{
    color: #3353d1;
    font-size: 30px;
    margin-top: 25%;

}
.container-protection{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.container-protection i{
    background-color: #fff8e2;
    color: #ffd012;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.best{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.best > p {
    font-size: 20px;
    color: #1f3e72;
}
.protection{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.protection > p {
    font-size: 20px;
    color: #1f3e72;
}
#preparations{
    display: flex;
    height: 1100px;
    padding-top: 200px;
    align-items:center;
}

.preparations-left{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    align-items:center;
    justify-content: space-around;
}
.preparations-right{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    align-items:center;
    justify-content: space-around;
}

.preparations-right h2{
    font-size: 40px;
    color: #1f3e72;
    font-weight: 800;
}
.preparations-right p{
    color: #6d7b93;
    font-size: 20px;
    font-weight: 600;
    padding-top: 5%;
}
.prep-img{
    width: 100%;
    height: 100%;
    background-color: #2477df;
}
.accordion{
    padding-top: 5%;
        display: flex;
          flex-direction: column;
            justify-content: space-around;
              gap: 20px;
}
.accordion-header{
    display: flex;
}
.accordion-item{
    border: 3px solid #fafaff;
}
.accordion-button:not(.collapsed){
    background-color: #ffffff;
}
.accordion-button:focus{

border-color: #86b7fe;
outline: 0;
box-shadow: none;
}
.panel-icon{
    display: flex;
    align-items: center;
}
.panel-icon i {
    background-color: #f1f5ff;
    font-size: 30px;
    border-radius: 5px;

}
/*Emergency section*/
#emergency{
    height: 400px;
    display: flex;
}
.emergency-left{
    width: 50%;

}
.emergency-left h2{
    font-size: 40px;
    color: #1f3e72;
    font-weight: 800;
    padding-top: 200px;

}
.emergency-left p{
    color: #6d7b93;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10%;
}
.emergency-right{
    background-color: #2477df;
    width: 50%;
    height: 100%;
    align-items:center;
    justify-content: space-around;
}
.emergency-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10%; 
    height: 410px;
}
.emer-card{
    width:40%;
    display: flex;

    height: 40%;
    flex-direction: column;
    border: 3px solid #fafaff;
    border-radius: 5px;
}
.emer-card:hover{
    border-style: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.emer-card-header{
    justify-content: space-evenly;
    display:flex;
    padding-top: 5%;
    padding-bottom: 5%;
}
.emer-card-icon{
    background-color: #f1f5ff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align:center;
}
.emer-card-icon i{
    color: #3353d1;
    font-size: 30px;
    margin-top: 25%;
}
.emer-card-content{
    display: flex;
    flex-direction: column;
    height: 50px;
}

.emer-card-content h3 {
    font-size: 20px;
    color: #1f3e72;
}
.emer-card-content p{
    font-size: 15px;
}
.emer-card-btn-container{
    display: flex;
    justify-content: center;
}

.emer-card-btn-container > button{
    width: 75%;
    border-radius: 5px;
    border-style: none;
    height: 60px;
    background-color: #f1f5ff;
    color: #3555d3;
}


.emer-card-btn-container > button.active{
    background-color: #2747c5;
    color: #ffffff;
}



/*Triangles*/
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #f4f6fb;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 

    border-right:60px solid #f4f6fb;
}
